.divprincipal {
    width: 1600px;
    height: 80px; 
    background-color: aquamarine;
    margin: auto;
    padding: 1%;
    display: flex;
    float: left;
    flex-wrap: wrap;
}



.primerdiv {
    border-radius: 10px;
    margin-right: 2%;
    width: 150px;
    height: 85px;
    box-shadow: 16px 8px 2px rgba(0,0, 0, 0.3);
    background-image: linear-gradient(to top ,white,orange,red);
   
    
    }

.segundodiv {
    border-radius: 10px;
    margin-right: 2%;
    width: 150px;
    height: 85px;
    box-shadow: 16px 8px 2px rgba(0,0, 0, 0.3);
    background-image: radial-gradient( white,orange,red);
    }

.tercerdiv 
    {
        border-radius: 10px;
        margin-right: 2%;
        width: 150px;
        height: 85px;
        box-shadow: 16px 8px 2px rgba(0,0, 0, 0.3);
        background-image: radial-gradient( white,orange,red);
        justify-content: center;
        display: flex;
        
        
        }

.cuartodiv {
    border-radius: 10px;
    margin-right: 2%;
    width: 150px;
    height: 85px;
    box-shadow: 16px 8px 2px rgba(0,0, 0, 0.3);
    background-image: radial-gradient( white,orange,red);
    justify-content: center;
        display: flex;
    
    }

.quintodiv {
    border-radius: 10px;
    margin-right: 2%;
    width: 150px;
    height: 85px;
   
    box-shadow: 16px 8px 2px rgba(0,0, 0, 0.3);
    background-image: linear-gradient(to top ,white,orange,red);
   
    }

.sextodiv {
    border-radius: 10px;
    margin-right: 2%;
    width: 150px;
    height: 85px;
    box-shadow: 16px 8px 2px rgba(0,0, 0, 0.3);
    background-image: radial-gradient( white,orange,red);
    

}

.imgauto {
    max-width: 100%;
   

}

.logotesla {
    max-height: 100%;

}

.divvolver {
    clear: both;
    font-size: 40px;
    color: black;
    position: fixed;
    top: 95%;
}


