
.divtitulo{
    text-align: center;
    margin: 0;
    display: inline-block;
    width: 100%;
    background-color: hsl(0, 7%, 64%);
    
}

h1 {

    text-align: justify;
    color: #000000;
}

p{
    text-align: justify;
}

body{
    margin: 0;
    background-color: hsl(0, 7%, 64%);
    color: #ddd;
}

.divhijos{
    background-color: #000000;
    margin: 20px;
    width: 200px; 
    box-sizing: border-box;
    padding: 10px;
    float: left;
    
}



.divPrincipal{
    float: left;
    padding: 20px;
    margin: 50px;
    background-color: #222;
    box-sizing: border-box;
    
    
}

img {
   
        max-width: 100%;
    
    
}